body { 

  color: white;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
}

main { 
  margin-left: 61px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;


}

.left { 
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}


h3 { 
  display: block;
  color: white;
  font-weight: bold;

}

header { 
  display: flex;
  flex-direction: column;
  height: 100px;
  border: 1px solid rgb(48, 48, 48);
}

.menu  { 
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#forYou { 
  border-bottom: 4px solid rgb(6, 114, 255);
  padding-bottom: 10px;
}

.sidebar { 
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(0, 0, 0);
  width: 150px;
  padding-right: 80px;
}


span { 
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#postarum { 
 
  margin-top: 30px;
 
  padding: 7px 15px;
  border-radius: 20px;
  background-color: rgb(0, 140, 255);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


img { 
  width: 40px;
  margin-bottom: 20px;
  color: white;

}

.digite { 
  display: flex;
  flex-direction: row;

  padding-top: 20px;
  padding-left: 10px;
  border: 1px solid rgb(48, 48, 48);

}

h3 { 
  font-size: 20px;
}

#perfil  { 
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
}

#perfilnasa { 
  margin-left: 10px;

  cursor: pointer;
  object-fit: contain;
}

#info { 
  margin-left: 10px;
  color: gray;
  font-size: 20px;
  display: flex;
  margin-top: 12px;

}

#postar { 
  margin-bottom: 10px;
  margin-top: 30px;
 
  padding: 7px 15px;
  border-radius: 20px;
  background-color: rgb(0, 140, 255);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;

}

.botao-postar { 
  display: flex;
  flex: 1; /* Garante que o botão ocupe todo o espaço disponível */
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  align-items: flex-end; 
  margin-right: 20px;
}

.mostrar-mais { 

  padding: 10px;
  height: 25px;
  text-align: center;
  border: 1px solid rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 140, 255);
  font-size: 14px;
  cursor: pointer;
}

#postagem { 
  width: 400px;
  margin-left: 10px;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  margin: 0;
  margin-right: 50px;
  margin-left: 20px;
}


.postagem { 
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-left: 10px;
}

.postagem-canal { 

  border: 1px solid rgb(48, 48, 48);
}

#memesroubados { 
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.horas { 
  color: gray;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sidebar-right { 

  margin-top: 10px;
  top: 5px;
  width: 300px;
}

input { 
  background-color: rgb(51, 51, 51);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.premium { 
  background-color: rgb(27, 27, 27);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;

}

#titulo { 
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 0;
}

#inscreva { 
  padding: 7px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgb(0, 140, 255);;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.aconteceu { 
  background-color: rgb(31, 31, 31);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.aconteceu > h3 { 
  margin-top: 0;
}

h2 { 
  font-size: 26px;
  margin-top: 0;
}

#oque-aconteceu { 
  color: gray;
}

input { 
  width: 87%;
}

#seguindo { 
  color: gray;
}

.quemseguir { 
  background-color: rgb(31, 31, 31); 
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.quemseguir > h3  { 
  margin-top: 0;
}

#title { 
  margin-left: 20px;
}

p { 
  margin: 0;
}

.elonmusk, .mark, .billgates { 
  display: flex;
  flex-direction: row;


}

.detalhes {
  display: flex;
  align-items: center;


}


.elonmusk > span { 
  margin-left: 10px;
}


#nomes { 
  margin-left: 10px;
}

#arroba { 
  font-size: 13px;
  color: gray;
  margin-left: 10px;
}

#perfilvisual { 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.descri { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  
}

.descris { 
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
display: inline-block;
}

.material-symbols-outlined{ 
  margin-bottom: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  transition: background-color 0.20s;
}

.material-symbols-outlined:hover { 
  background-color: rgba(102, 102, 102, 0.322)
}



